@use '../abstracts' as *;

.hero__btn {
  @include btn-reset;
  margin-top: 4rem;
}

.hero__btn-img {
  width:      220px;
  height:     auto;
  display:    block;
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.hero__btn:hover .hero__btn-img {
  transform: scale(1.15);
}
