// ─────────────────────────────────────────────
// Settings Preview Box
// ─────────────────────────────────────────────

@use '../abstracts' as *;

.settings__preview-wrap {
  position: sticky;
  top:      $spacing-lg;
}


// ── Top Bar ──









// ── Preview Content ──


.settings__preview-img {
  width:      100%;
  height:     100%;
  object-fit: contain;
  padding:    $spacing-lg;
  transition: opacity $transition-normal;
}