// ─────────────────────────────────────────────
// Typography
// ─────────────────────────────────────────────

@use '../abstracts' as *;

body {
  font-family: $font-family-base;
  color:       $color-text-primary;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  line-height:  1.1;
  font-weight:  700;
}
